body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: black;
}

.neon{
  display: inline-block;
  color: #fff;
  line-height: 400px;
  letter-spacing: .05em;
  font-size: 6em;
  text-shadow: 3px 3px 40px #03ff25, 0 0 12px #ffffff, 2px 5px 60px #167204;
}

.neon > span{
  animation: blink 3s infinite alternate;
}

@keyframes blink{
  40%{
    opacity: .65;
  }
  42%{
    opacity: 4;
  }
  43%{
    opacity: .65;
  }
  45%{
    opacity: 4;
  }
  46%{
    opacity: .85;
  }
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: all 0.2s;
}

a:hover{
  color: #233784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

a span{
  position: absolute;
  display: block;
}

a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1){
  left: 100%;
  transition: .6s;
}

a span:nth-child(2){
  top: -100px;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2){
  top: 100%;
  transition: .6s;
  transition-delay: 0.25s;
}

a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3){
  right: 100%;
  transition: .6s;
  transition-delay: 0.5s;
}

a span:nth-child(4){
  bottom: -100px;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4){
  bottom: 100%;
  transition: .6s;
  transition-delay: 0.75s;
}